.datos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .datos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .dato-card {
    border: 1px solid #da6e6e;
    border-radius: 5px;
    padding: 10px;
  }
  
  